<section class="container">
    <section class="row" style="padding-top: 15px;">
        <section class="col s12 m6 l6 xl6">
            <section class="row">
                <section class="col s12 m12 l12 xl12">
                    <h1>
                        ¡Voluntariado!
                    </h1>
                    <p>
                        ¿Estás buscando opciones para realizar un voluntariado?
                    </p>
                    <p>
                        ¿Quieres vivir una experiencia enriquecedora ayudando a la comunidad? A través de esta sección vas a tener la oportunidad de poder ser voluntario.
                    </p>
                    <section class="divider"></section>
                </section>
            </section>
            <section class="row">
                <section class="col s12 m12 l12 xl12">
                    <form action="" method="" class="col s12">
                        <section class="row">
                            <section class="input-field col s6">
                                <input id="first_name" type="text" class="validate" pattern="[A-Za-z]{3, }" required>
                                <label for="first_name">Nombre</label>
                            </section>
                            <section class="input-field col s6">
                                <input id="last_name" type="text" class="validate" required pattern="[A-Za-z]{3, }">
                                <label for="last_name">Apellido</label>
                            </section>
                        </section>
                        <section class="row">
                            <section class="input-field col s6">
                                <input id="email" type="email" class="validate" required>
                                <label for="email">Correo Electrónico</label>
                            </section>
                            <section class="input-field col s6">
                                <input id="icon_telephone" type="tel" class="validate" required pattern="[0-9]{10}">
                                <label for="icon_telephone">Teléfono</label>
                            </section>
                        </section>
                        <section class="row">
                            <section class="input-field col s12">
                                <textarea id="textarea2" class="materialize-textarea" data-length="120" pattern="[A-Za-z0-9]"></textarea>
                                <label for="textarea2">Mensaje</label>
                            </section>
                        </section>
                        <section class="row">
                            <section class="col s12">
                                <button class="btn waves-effect purple-me white-text" type="submit" name="btn_submit">Enviar
                  <i class="material-icons right white-text">send</i>
                </button>
                            </section>
                        </section>
                    </form>
                </section>
            </section>
        </section>
        <section class="col s12 m6 l6 xl6">
            <img loading="lazy" src="../../assets/images/team.png" alt="image of contact" class="responsive-img">
        </section>
    </section>
</section>