<header class="navbar-fixed z-depth-3 lighten-5">
    <nav>
        <section class="nav-wrapper" id="navContainer">
            <a routerLink="" class="brand-logo">
                <img src="./assets/images/logo-300x300.png" width="125" alt="Logo_zueña_munay" loading="lazy" />
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a routerLink="">INICIO</a>
                </li>
                <li>
                    <a routerLink="about-us">QUIENES SOMOS</a>
                </li>
                <li>
                    <a routerLink="projects">PROYECTOS</a>
                </li>
                <li>
                    <a routerLink="donations">DONACIONES</a>
                </li>
                <li>
                    <a routerLink="volunteer">VOLUNTARIADOS</a>
                </li>
                <li>
                    <a routerLink="contact">CONTACTANOS</a>
                </li>
            </ul>
        </section>
    </nav>
</header>