<section class="container" id="carrouselDiplomado">
    <section class="slider">
        <ul class="slides">
            <li>
                <img loading="lazy" class="responsive-img" src="../../../../assets/images/banner/buen trato.png" alt="imagen grande" />
            </li>
            <li>
                <img loading="lazy" class="responsive-img" src="../../../../assets/images/banner/creativo.png" alt="imagen grande" />
            </li>
            <li>
                <a routerLink="about-us">
                    <img loading="lazy" class="responsive-img" src="../../../../assets/images/banner/equipo educación.png" alt="imagen grande" />

                </a>
            </li>
            <li>
                <img loading="lazy" class="responsive-img" src="../../../../assets/images/banner/robótica educativa (1).png" alt="imagen grande" />
            </li>
            <li>
                <img loading="lazy" class="responsive-img" src="../../../../assets/images/banner/robótica educativa (2).png" alt="imagen grande" />
            </li>
            <li>
                <img loading="lazy" class="responsive-img" src="../../../../assets/images/banner/robótica educativa 2.png" alt="imagen grande" />
            </li>
            <li>
                <img loading="lazy" class="responsive-img" src="../../../../assets/images/banner/robótica educativa.png" alt="imagen grande" />
            </li>
        </ul>
    </section>
</section>