<section class="fixed-action-btn">
    <a href="#" class="btn-floating btn-large purple-me">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li>
            <a href="https://www.facebook.com/corpozuenamunay" target="_blank" class="btn-floating btn tooltipped blue" data-position="left" data-tooltip="Facebook"><i class="icon icon-facebook"></i
      ></a>
        </li>
        <li>
            <a href="https://twitter.com/MunayZuena?t=eApTnfHZMHG8iNIekTgqjw&s=09" target="_blank" class="btn-floating btn tooltipped blue lighten-1" data-position="left" data-tooltip="Twitter"><i class="icon icon-twitter"></i
      ></a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UChDQjqNU9-p7x1dxkGt6-mw" target="_blank" class="btn-floating btn tooltipped red darken-1" data-position="left" data-tooltip="Youtube"><i class="icon icon-youtube"></i
      ></a>
        </li>
    </ul>
</section>