<section id="aliado" class="row light-blue-me">
    <section class="container" id="aliadoContainer">
        <section class="carousel col s12 m7 l8">
            <a class="carousel-item" href="#one!"><img loading="lazy" src="../../../../assets/images/ally/Dejando Huellas.png" alt="Dejando Huellas" /></a>
            <a class="carousel-item" href="#two!"><img loading="lazy" src="../../../../assets/images/ally/Disanmor.png" alt="Disanmor" /></a>
            <a class="carousel-item" href="#three!"><img loading="lazy" src="../../../../assets/images/ally/Yilmertech.png" alt="Yilmertech" /></a>
        </section>
        <section id="ATxt" class="col s12 m5 l4">
            <h5 class="center-align">ALIADOS</h5>
        </section>
    </section>
</section>
<style src="aliados.component.sass"></style>