<section class="quienes-somos">
    <section class="row">
        <section id="imagelogo" class="container">
            <img data-caption="A picture of a way with a group of trees in a park" width="100" src="./assets/images/logo-300x300.png" style="display:block; margin: auto;" />
        </section>
        <section class="container">
            <section class="row">
                <section class="col s12">
                    <ul class="collapsible popout" style="color: #333333;">
                        <li>
                            <section class="collapsible-header">
                                <h5>Quienes somos</h5>
                            </section>
                            <section class="collapsible-body">
                                <span>
                  Desde el entorno social y educativo el trabajo con comunidades de base
                  es nuestro punto de partida para el desarrollo de acciones coherentes con las necesidades,
                  potencialidades y realidades internas de nuestros territorios, promoviendo entornos que promuevan
                  desarrollo para luego, a partir de estas, concebir una visión de futuro compartida brindando
                  soluciones integrales a la población en general, promoviendo una mejor calidad de vida con un enfoque
                  de derechos.
                </span>
                            </section>
                        </li>
                        <li>
                            <section class="collapsible-header">
                                <h5>Visión</h5>
                            </section>
                            <section class="collapsible-body"><span>Ser la entidad reconocida en Colombia y el Exterior por el impacto
                  de nuestras actuaciones en el bienestar y el desarrollo de las comunidades con las que trabajamos
                  contribuyendo a la generación de procesos de participación y empoderamiento social, para reducir
                  brechas de desigualdad y lograr con esto una sociedad más equitativa e inclusiva.</span>
                            </section>
                        </li>
                        <li>
                            <section class="collapsible-header">
                                <h5>Misión</h5>
                            </section>
                            <section class="collapsible-body"><span>Somos una organización no gubernamental que contribuye a la
                  generación de procesos de participación y empoderamiento social, orientados hacia la construcción de
                  una sociedad inclusiva y democrática. Promotora de un trabajo articulado mediante estrategias,
                  programas, proyectos que garanticen atención a las necesidades en beneficio de mejorar la calidad de
                  vida de los diferentes sectores de la sociedad para construir un mundo más justo y solidario donde
                  todos los seres humanos puedan ejercer plenamente sus derechos y disfrutar de una vida digna.</span>
                            </section>
                        </li>
                    </ul>
                </section>
            </section>
        </section>
    </section>
    <section class="row" id="containerteam">
        <nav>
            <section class="nav-wrapper" id="equipo">
                <h5>EQUIPO</h5>
            </section>
        </nav>
        <section class="container" id="team">
            <section class="row center-align">
                <h6>No es lo que hacemos, es lo que somos.</h6>
            </section>
            <section class="row">
                <section class="col s12 m12 l12 xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images/team/Susana_Manotas.png" alt="susana" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Susana Manotas Rojas</span>
                                <span class="black-text col s12">Director</span>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="col s12 m12 l12 xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images/team/Gloria_Rojas.png" alt="" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Gloria Rojas Ruiz</span>
                                <span class="black-text col s12">Fundador Red Mujeres</span>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <section class="row">
                <section class="col s12 m12 l12 xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images/team/Alexander_Manotas.png" alt="" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Alexander Manotas Rojas</span>
                                <span class="black-text col s12">Director oficina internacionalización</span>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="col s12 m12 l12 xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images/team/Minelly_Palacio.png" alt="" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Minelly Palacio Torres</span>
                                <span class="black-text col s12">Coordinador jurídico</span>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <section class="row">
                <section class="col s12 m12 l12 xl4 offset-l0 offset-xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images/team/Neil_Garrido.png" alt="" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Neil Daniel Garrido Weber</span>
                                <span class="black-text col s12">Especialista en Revisoría Fiscal</span>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="col s12 m12 l12 xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images/team/Wilson_Mendoza(1).png" alt="" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Wilson Leonen Mendoza</span>
                                <span class="black-text col s12">Coordinador Asuntos Sociales</span>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <section class="row">
                <section class="col s12 m12 l12 xl4 offset-l0 offset-xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images/team/Laura_Medina.png" alt="" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Laura Vanessa Medina Perdomo</span>
                                <span class="black-text col s12">Coordinador Robótica Educativa</span>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="col s12 m12 l12 xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images/team/Heber_Gutiérrez(1).png" alt="" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Heber Camino Gutierrez Tafur</span>
                                <span class="black-text col s12">Instructor de robótica inclusiva</span>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <section class="row">
                <section class="col s12 m12 l12 xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images/team/Claudia_Trujillo.png" alt="" width="103px" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Claudia Milena Trujillo Váquiro</span>
                                <span class="black-text col s12">Coordinador Educación Inclusiva</span>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="col s12 m12 l12 xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images/team/Cristhian_Viatela(1).png" alt="" width="103px" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Cristhian Andrés Viatela</span>
                                <span class="black-text col s12">Lider proyectos especiales</span>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="col s12 m12 l12 xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images/team/Carmen_Oliveros(1).png" alt="" width="103px" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Carmen María Oliveros Paez</span>
                                <span class="black-text col s12">Coordinador Pedagógico</span>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <section class="row">
                <section class="col s12 m12 l12 xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images/team/nicolas_mosquera.png" alt="" width="103px" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Nicolas Mosquera</span>
                                <span class="black-text col s12">Programador Web</span>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="col s12 m12 l12 xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images/team/Andres_Polania(1).png" alt="" width="103px" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Andres Felipe Polania</span>
                                <span class="black-text col s12">Publicista</span>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="col s12 m12 l12 xl4">
                    <section class="card-panel grey lighten-5 z-depth-1 hoverable">
                        <section class="row valign-wrapper">
                            <section class="col s4 m3 l3 xl4">
                                <img src="../../assets/images//team/sinfoto.png" alt="" height="102px" class="circle responsive-img" />
                                <!-- notice the "circle" class -->
                            </section>
                            <section class="col s8 m9 l9 xl8">
                                <span class="col s12" style="color: #6B4D84;">Juan Camilo Medina Perdomo</span>
                                <span class="black-text col s12">Soporte técnico</span>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>