<section id="aliado" class="row light-blue-me">
    <section class="container" id="aliadoContainer">
        <section class="carousel col s12 m7 l8">
            <a class="carousel-item" href="#one!"><img loading="lazy" src="./assets/images/AndresViatelaCircle.png" alt="img_0" /></a>
            <a class="carousel-item" href="#two!"><img loading="lazy" src="./assets/images/CarmenCircle.png" alt="img_0" /></a>
            <a class="carousel-item" href="#three!"><img loading="lazy" src="./assets/images/ClaudiaCircle.png" alt="img_0" /></a>
            <a class="carousel-item" href="#four!"><img loading="lazy" src="./assets/images/LauraMedinaCircle.png" alt="img_0" /></a>
            <a class="carousel-item" href="#five!"><img loading="lazy" src="./assets/images/Minelly1Cirucilo.png" alt="img_0" /></a>
        </section>
        <section id="ATxt" class="col s12 m5 l4">
            <h5 class="center-align">ALIADOS</h5>
        </section>
    </section>
</section>