<ul class="sidenav" id="mobile-demo">
    <li>
        <section class="circle">
            <img src="./assets/images/logo-300x300.png" width="125" alt="Logo_zueña_munay" alt="Logo_zueña_munay" loading="lazy" />
        </section>
    </li>
    <li>
        <a routerLink="">INICIO</a>
    </li>
    <li>
        <a routerLink="about-us">QUIENES SOMOS</a>
    </li>
    <li>
        <a routerLink="projects">PROYECTOS</a>
    </li>
    <li>
        <a routerLink="donations">DONACIONES</a>
    </li>
    <li>
        <a routerLink="volunteer">VOLUNTARIADOS</a>
    </li>
    <li>
        <a routerLink="contact">CONTACTANOS</a>
    </li>
</ul>