.quienes-somos
  padding-top: 10px
  #imagelogo
    background-image: url("../../assets/images/quienes-somos/Grupo 23@2x.png"), url("../../assets/images/quienes-somos/Grupo 50@2x.png")
    background-repeat: no-repeat
    background-position: 35%, 65%
    background-size: 103px
    background-origin: content-box

  .collapsible-header
    color: #6B4D84

  .txt-contentcard
    color: #333333
    text-align: justify

  #equipo
    display: flex
    justify-content: center
    align-items: center
    h5
      color: #6B4D84
      display: inline-block
      padding: 0
      margin: 0
  #containerteam
    margin-bottom: 0px
    @media (min-width: 601px)
      background-image: radial-gradient(ellipse farthest-corner at 180px 0px , #F5F2F2 70.68%, rgba(0, 255, 0, 0) 0%, #744c86 68%)

  #team
    padding-top: 5px
    @media (min-width: 1200px)
      background-image: url("../../assets/images/quienes-somos/Grupo 10@2x.png"), url("../../assets/images/quienes-somos/Grupo 11@2x.png")
      background-repeat: no-repeat
      background-position: right 50px, left 350px
      background-size: 250px
      background-origin: content-box
    .row
      margin-bottom: 0px

      .card-panel
        cursor: pointer
h6
  color: #333333
