<footer class="page-footer pruple-mine">
    <section class="container">
        <section class="row justify-align">
            <section class="col s12 m12 l4 xl4">
                <h5 class="white-text">Entidad sin animo de lucro desde 2020</h5>
                <section class="collection">
                    <a routerLink="terminos-y-condiciones" class="collection-item
            white-text">* Términos y condiciones<i
              class="material-icons secondary-content white-text">open_in_new</i></a>
                    <a routerLink="boletines-de-prensa" class="collection-item
            white-text">* Boletines de prensa<i class="material-icons secondary-content white-text">open_in_new</i></a>
                </section>
            </section>
            <section class="col s12 m12 l4 xl4">
                <section class="row contactanos grey-text text-lighten-3">
                    <h5 class="white-text center-align">Contactanos</h5>
                    <section class="row" style="margin-bottom: 0">
                        <section class="col s12 m12 l12 xl12 center-align">
                            <ul>
                                <li>Teléfono: (+57) 3204845543</li>
                                <li>Correo: info@zueñamunay.org</li>
                            </ul>
                        </section>
                    </section>
                </section>
            </section>
            <section class="col s12 m12 l4 xl4">
                <section class="row center-align">
                    <ul id="listicons">
                        <li>
                            <h5 class="white-text">Síguenos</h5>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/corpozuenamunay" target="_blank" class="grey-text text-lighten-3 tooltipped" data-position="bottom" data-tooltip="Facebook"><i
                  class="icon icon-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/MunayZuena?t=eApTnfHZMHG8iNIekTgqjw&s=09" target="_blank" class="grey-text text-lighten-3 tooltipped" data-position="bottom" data-tooltip="Twitter"><i
                  class="icon icon-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UChDQjqNU9-p7x1dxkGt6-mw" target="_blank" class="grey-text text-lighten-3 tooltipped" data-position="bottom" data-tooltip="Youtube"><i
                  class="icon icon-youtube"></i></a>
                        </li>
                    </ul>
                </section>
            </section>
        </section>
    </section>
    <section class="footer-copyright pruple-mine darken">
        <section class="container center-align">
            Todos los derechos reservados - &copy; Copyright 2022
        </section>
    </section>
</footer>