<section class="container" id="carrouselDiplomado">
    <section class="slider">
        <ul class="slides">
            <li>
                <img loading="lazy" class="responsive-img" src="../../../../assets/images/educativa.png" alt="imagen grande" />
            </li>
            <li>
                <img loading="lazy" class="responsive-img" src="../../../../assets/images/educativa2.png" alt="imagen grande" />
            </li>
            <li>
                <img loading="lazy" class="responsive-img" src="../../../../assets/images/creativo.png" alt="imagen grande" />
            </li>
            <li>
                <img loading="lazy" class="responsive-img" src="../../../../assets/images/buentrato.png" alt="imagen grande" />
            </li>
        </ul>
    </section>
</section>