@charset "UTF-8"
*
  margin: 0
  padding: 0
  color: white

html
  scroll-behavior: smooth
    /*Comenta esta línea (o dale el valor 'auto' a scroll behavior ) para probar la diferencia con y sin scroll suavizado*/
