<section id="campocreativo" class="row yellow-me">
    <section class="container" id="campocreativoContainer">
        <section id="CCTxt" class="col s12 m5 l4">
            <h5 class="center-align">CAMPO CREATIVO</h5>
        </section>
        <section class="carousel col s12 m7">
            <a class="carousel-item" href="#one!" disabled>
                <section id="player1">video 1</section>
            </a>
            <a class="carousel-item" href="#two!" disabled>
                <section id="player2">video 2</section>
            </a>
            <a class="carousel-item" href="#three!" disabled>
                <section id="player3">video 3</section>
            </a>
            <a class="carousel-item" href="#four!" disabled>
                <section id="player4">video 4</section>
            </a>
            <a class="carousel-item" href="#five!" disabled>
                <section id="player5">video 5</section>
            </a>
        </section>
    </section>
</section>
