<section id="proyectos" class="row pruple-mine">
    <section class="container">
        <h5 class="center-align">PROYECTOS</h5>
        <section class="col s12 m3">
            <section class="card">
                <section class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../../../assets/images/project/EduBOT.png" alt="EDUBOT" title="EDUBOT" />
                </section>
                <section class="card-content">
                    <span class="card-title text-center activator grey-text text-darken-4">
            EDUBOT
          </span>
                    <p><a href="#">Ver más.</a></p>
                </section>
                <section class="card-reveal">
                    <span class="card-title grey-text text-darken-4">EDUBOT<i
              class="material-icons right grey-text text-darken-4">close</i></span>
                    <p class="grey-text text-darken-4">
                        Con la intención de que las niñas, niños y adolescentes aprendan a utilizar la tecnología de una forma activa y de paso se trabaje articuladamente el fortalecimiento de las habilidades blandas a través de la psicopedagogía, surge como una necesidad imperante,
                        la creación de Club EduBOT Integra. Una sinergia entre la ingeniería mecatrónica, ingeniería electrónica, pedagogía infantil y psicología.
                    </p>
                </section>
            </section>
        </section>
        <section class="col s12 m3">
            <section class="card">
                <section class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../../../assets/images/project/SumaleTiempo.jpeg" alt="#SUMALETIEMPO" title="SUMALETIEMPO" />
                </section>
                <section class="card-content">
                    <span class="card-title text-center activator grey-text text-darken-4">#SUMALETIEMPO</span>
                    <p><a href="#">Ver más.</a></p>
                </section>
                <section class="card-reveal">
                    <span class="card-title grey-text text-darken-4">#SUMALETIEMPO<i
              class="material-icons right grey-text text-darken-4">close</i></span>
                    <p class="grey-text text-darken-4">
                        Fortalecer y promover los procesos de buen trato y convivencia en las instituciones educativas del país, con el fin de prevenir hechos de violencia.
                    </p>
                </section>
            </section>
        </section>
        <section class="col s12 m3">
            <section class="card">
                <section class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../../../assets/images/project/Clima Organizacional.png" alt="#SUMALETIEMPO" title="SUMALETIEMPO" />
                </section>
                <section class="card-content">
                    <span class="card-title text-center activator grey-text text-darken-4">Clima Organizacional</span>
                    <p>
                        <a href="#">&nbsp;</a>
                    </p>
                </section>
                <section class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Clima Organizacional<i
              class="material-icons right grey-text text-darken-4">close</i></span>
                    <p class="grey-text text-darken-4">
                        Desarrollamos programas y actividades que buscan generar ambientes seguros, actividades fuera del trabajo, brindando así autonomía a los colaboradores.
                    </p>
                </section>
            </section>
        </section>
        <section class="col s12 m3">
            <section class="card">
                <section class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../../../assets/images/project/Capacitaciones.png" alt="#SUMALETIEMPO" title="SUMALETIEMPO" />
                </section>
                <section class="card-content">
                    <span class="card-title text-center activator grey-text text-darken-4">Capacitaciones</span>
                    <p>
                        <a href="#">&nbsp;</a>
                    </p>
                </section>
                <section class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Capacitaciones<i
              class="material-icons right grey-text text-darken-4">close</i></span>
                    <p class="grey-text text-darken-4">
                    </p>
                </section>
            </section>
        </section>
    </section>
</section>