<section id="hablemos">
    <section id="Txttitle">
        <h5 class="center-align">HABLEMOS</h5>
    </section>
    <section class="container">
        <section class="row rowRedessociales">
            <section id="facebook" class="col s12 m12 l6 xl6">
                <section id="fb-root" style="width: 190px;"></section>
                <section id="iframe" class="fb-page" data-href="https://www.facebook.com/corpozuenamunay/" data-tabs="timeline" data-width="500" data-height="550" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
                    <blockquote cite="https://www.facebook.com/corpozuenamunay/" data-lazy="true" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/corpozuenamunay/">Corporación Zueña Munay</a
            >
          </blockquote>
        </section>
      </section>
      <section id="twitter" class="col s12 m12 l6 xl6">
        <section id="Twitteriframe">
          <a
            class="twitter-timeline"
            data-width="500"
            data-height="550"
            href="https://twitter.com/MunayZuena?ref_src=twsrc%5Etfw"
            >Tweets by MunayZuena</a
          >
        </section>
      </section>
    </section>
  </section>
</section>
