<section class="container">
    <section class="row">
        <section class="col s12 m6 l4">
            <img class="materialboxed responsive-img" width="650" src="https://materializecss.com/images/sample-1.jpg">
        </section>
        <section class="col s12 m6 l4">
            <img class="materialboxed responsive-img" width="650" src="https://materializecss.com/images/sample-1.jpg">
        </section>
        <section class="col s12 m6 l4">
            <img class="materialboxed responsive-img" width="650" src="https://materializecss.com/images/sample-1.jpg">
        </section>
        <section class="col s12 m6 l4">
            <img class="materialboxed responsive-img" width="650" src="https://materializecss.com/images/sample-1.jpg">
        </section>
    </section>
</section>