#proyectos
  margin: 0
  padding: 5px 0px
  @media (min-width: 993px)
    background-image: url("../../../../assets/images/index/Grupo 51@2x.png"), url("../../../../assets/images/index/Grupo 52@2x.png")
    background-repeat: no-repeat
    background-position: 5%, 95%
    background-size: 200px
    background-origin: content-box
