<section id="proyectos" class="row pruple-mine">
    <section class="container">
        <h5 class="center-align">PROYECTOS</h5>
        <section class="col s12 m3">
            <section class="card">
                <section class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./assets/images/EduBOT0.jpeg" alt="EDUBOT" title="EDUBOT" />
                </section>
                <section class="card-content">
                    <span class="card-title text-center activator grey-text text-darken-4">
            EDUBOT
          </span>
                    <!--<p><a href="#">Ver más.</a></p>-->
                </section>
                <section class="card-reveal">
                    <span class="card-title grey-text text-darken-4">EDUBOT<i class="material-icons right grey-text text-darken-4"
              >close</i
            ></span
          >
          <p class="grey-text text-darken-4">
            Presentamos las tecnologías a niñas, niños y adolescentes de forma
            lúdica generando aprendizajes significativos a tráves del juego.
          </p>
        </section>
      </section>
    </section>
    <section class="col s12 m3">
      <section class="card">
        <section class="card-image waves-effect waves-block waves-light">
          <img
            class="activator"
            src="./assets/images/EduBOT0.jpeg"
            alt="#SUMALETIEMPO"
            title="SUMALETIEMPO"
          />
        </section>
        <section class="card-content">
          <span class="card-title text-center activator grey-text text-darken-4"
            >#SUMALETIEMPO</span
          >
          <!--<p><a href="#">Ver más.</a></p>-->
        </section>
        <section class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >#SUMALETIEMPO<i
              class="material-icons right grey-text text-darken-4"
              >close</i
            ></span
          >
          <p class="grey-text text-darken-4">
            Fortalecer y promover los procesos de buen trato y convivencia en
            las instituciones educativas del país, con el fin de prevenir hechos
            de violencia.
          </p>
        </section>
      </section>
    </section>
  </section>
</section>